<div class="jumbotron">
  <h1>Education First for Rural India organization</h1>
  <p>We are non-profit organization.  </p>
  <p>We are an based out of Nagercoil, Tamil Nadu, India </p>
  <p>Our mission" developing and testing solutions to the wide range of challenges that confront low-income
    individuals, families, and children”. We also extend help extend beyond students. Our
    Aid Like a Paycheck program—in partnership with other sponsors on effectively utilizing the student’s
    financial aid during schools and colleges.
    </p>

</div>

