<div class="jumbotron">
  <h1>Donate - Please help us </h1>
  <p> At The EducationForAll Trust, we believe in the transformative power of education, which is why we remain fierce
    advocates in the fight for educational justice. Right now, too many students — particularly students from rom low-income families — attend schools that lack the tools and supports that children
    need in order to reach their full academic potential. These are the students we advocate for each day.
    Through our advocacy and research efforts, Ed Trust is working to create the conditions that allow for more
    just policies and practices to help underserved students thrive. This work cannot be done alone.

      That’s is why we are working to build a movement of fellow advocates, educators, business and community leaders, civil rights groups, families and people like you who can join the effort. To move toward educational justice, we need your help.


       </p>
</div>

